.suggestions {
    position: absolute;
    top: 56px;
    width: 100%;
    left: 0;
    right: 0;
    background: #fff;
    color: #000;
    margin: 0px auto;
    max-width: 500px;
    max-height: calc(100vh - 60px);
    overflow: hidden auto;
    padding: 8px 0;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2)
}